{% extends 'base.html.twig' %}

{% block title %}Hello NotFoundController!{% endblock %}

{% block body %}
<h1>FATAL ERROR!! SITE NOT FOUND !!!!!</h1>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
    <h2>404</h2>
{% endblock %}
